body{
    text-align: center;
    font-family: Open Sans,sans-serif;
    background-color: #f5f2f2;
    color: #000000;
    display: block;
    position: absolute;
    margin-left: 200px;
    margin-right: 200px;
}

h1{
    color: rgb(0, 0, 0);
    border: 4px solid #000000;
    padding: 10px;
}

h2{
    color: rgb(0, 0, 0);
}

h3{
    color: rgb(0, 0, 0);
}

.título{
    color: rgb(0, 0, 0);
}

a {
    background: #53c153;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid transparent;
    padding: 8px 20px;
    border-radius: 10px;
   }